body {
    background-color: var(--color-4);
    color: var(--color-3);
}

/* STYLE THE NAVBAR */

nav {
    width: 100%;
    height: 4rem;
    background-color: var(--color-1);
    opacity: 0.7;
    display: grid;
    place-items: center;
}

.container {
    color: var(--color-1);

    width: 80%;
    min-width: 40rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    color: white;
}

nav ul li {
    padding: 0 0.7rem;
}

nav ul li:hover {
    color: var(--color-3);
    cursor: pointer;
}

#vintage-beats-logo {
    color: white;
    font-size: 1.5rem;
}


/* STYLE MAIN CONTENT  */
section {
    display: grid;
    place-items: center;
    height: calc(100vh - 15rem);
}

.container #main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-item,
.right-item {
    width: 18rem;
}

.center-item {
    width: 24rem;
    display: grid;
    place-items: center;
}

.center-item #controls-and-stuff {
    position: relative;
    top: 2.05;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls i {
    cursor: pointer;
}

#controls-and-stuff #playing-song-details {
    font-size: 0.8rem;
    width: 18rem;
    display: flex;
    justify-content: center;
}

#currently-playing .song-name {
    width: 18rem;
    margin-bottom: 0.2rem;
}

#currently-playing .fa-heart {
    cursor: pointer;
}

#currently-playing .song-name h1 {
    display: inline;
}

#playing-song-details .artist-name {
    width: 17.15;
    overflow-wrap: break-word;
    width: 18rem;
}

.reactions-summary {
    font-size: 0.6rem;
    font-weight: 900;
    height: 100%;
    width: 18rem;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin-top: 0.6rem;
}

#reactions {
    width: 18rem;
    margin-top: 1.3rem;
}

.reactions-details {
    width: 100%;
    height: 4.93rem;
    overflow-y: scroll;
    font-size: 0.7rem;
}

.center-item input[type = "range"] {
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
}

.reactions-details ul#comment-list {
    list-style: none;
    color: var(--color-1);
}

ul#comment-list li {
    margin-bottom: 0.4rem;
}

ul#comment-list li .commenter-name {
    font-style: italic;
    color: var(--color-3);
    text-align: end;
}

/* style buttons  */
#playlist-buttons {
    margin-top: 1.3rem;
}

.btn {
    font-size: 0.7rem;
    padding: 0.4em 0.6em;
    margin: 0.1em;
    color: var(--color-4);
    background-color: var(--color-3);
    opacity: 0.7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
}

.btn:hover {
    /* background-color: var(--color-1);
    color: var(--color-3); */
    opacity: 0.85;
}

.btn.active {
    opacity: 1;
}

/* style up-next */
.right-item,
.right-item #up-next {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-item h1 {
    color: var(--color-1);
    font-size: 1.1rem;
}

.right-item #up-next {
    color: var(--color-3);
    margin-top: 0.5rem;
}

.right-item ul {
    list-style: none;
}

#up-next .song{
    font-size: 0.8rem;
    cursor: pointer;
}

#up-next .song:hover {
    color: var(--color-1)
}

/* style playlist  */
#play-list {
    margin: 0.6rem 0;
    width: 100%;
    float: left;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}

#play-list #play-list-items {
    border: var(--color-1) solid 0.1em;
    background-color: var(--color-3);
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
}

#play-list-items .song-name {
    width: 8.58rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#play-list-items .artist-name {
    width: 6.86rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#play-list #play-list-items .song {
    color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#play-list #play-list-items .song:hover {
    color: var(--color-2);
}

/* style comment input form  */
form {
    display: flex;
    flex-direction: column;

}

#add-comment-form textarea {
    width: 18rem;
    height: 2.46rem;
    outline: none;
    border: var(--color-1) solid 0.5rem;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    background-color: var(--color-1);
    color: var(--color-4);
    opacity: 0.6;
}

/* style the bottom items  */
.bottom h1 {
    width: 18rem;
}

.bottom .song {
    color: var(--color-1);
    cursor: pointer;
    width: 18rem;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bottom .song:hover {
    color: var(--color-3);
}

.bottom .song-name {
    width: 9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bottom .artist-name {
    width: 8.15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--color-1);
    opacity: 0.7;
    display: grid;
    font-size: 0.7rem;
    place-items: center;
}

footer .container {
    color: white;   
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

footer .container div {
    width: 12rem;
    min-height: 10rem;
}

footer .container div h2 {
    padding-top: 2rem;
}

footer .container #about-us {
    width: 16rem;
}

footer li {
    list-style: none;
    line-height: 1.2rem;
}
footer a:hover {
    color: var(--color-2);
}